<section id="wrapper" style=" background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));">
<div id ="login"class="container" >
        <div class="card card-container">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
                  <form class="form-signin">
                    <h3 align="center">Iniciar Sesion</h3>
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
               
            
                <button class="btn btn-lg btn-danger btn-block btn-google" type="submit"><i class="mdi mdi-gmail"></i> Iniciar con google</button>
        
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Entrar</button>
            </form><!-- /form -->
            <a href="#" class="forgot-password">
                ¿Olvidaste tu contraseña?
            </a>
        </div><!-- /card-container -->
    </div>
</section>