
<section id="wrapper" style=" background-color: rgb(120, 155, 143) ;">
        <div id ="login"class="container" >
            
                <div class="card card-container">
                         <form class="form-signin">
                        <h3 align="center">Registrarse</h3>
                        <span id="reauth-email" class="reauth-email"></span>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                        <input type="password" id="inputPassword2" class="form-control" placeholder="Repetir Contraseña" required>
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Registrarse</button>
                        <p>¿Ya tienes una cuenta?<a href="#" class="forgot-password">
                                Entrar
                        </a></p>
                    </form><!-- /form -->
                    
                </div><!-- /card-container -->
            </div>
        </section>