
<section id="wrapper" style=" background-image: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));">
        <div id ="login"class="container" >
            
                <div class="card card-container">
                         <form class="form-signin">
                        <h3 align="center">Registrarse</h3>
                        <span id="reauth-email" class="reauth-email"></span>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Repetir Contraseña" required>
                        <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Registrarse</button>
                    </form><!-- /form -->
                    
                </div><!-- /card-container -->
            </div>
        </section>