
  
    <aside class="left-sidebar" style="background-color: #658E80;">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" style="background-color:  #658E80;">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" style="background-color:  #658E80;">
                    <ul id="sidebarnav">
                            <li class="user-profile">
                                    <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><img src="../assets/images/users/profile.png" alt="user" /><span class="hide-menu">Steave Jobs </span></a>
                                    <ul aria-expanded="false" class="collapse" >
                                        <li class="lista"><a href="javascript:void()"><i class="mdi mdi-account-circle"></i> Mi Perfil </a></li>
                                        <li class="lista"><a href="javascript:void()"><i class="mdi mdi-logout"></i> Cerrar sesion</a></li>
                                    </ul>
                                </li>
                        <li class="nav-devider"></li>
                       
                        <li  style=" color: white;" class="nav-small-cap">MENU</li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account"></i><span class="hide-menu">Pacientes </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li class="lista"><a href=""><i class="mdi mdi-account-plus"></i> Nuevo Paciente </a></li>
                                <li class="lista"><a href=""><i class="mdi mdi-folder-account"></i> Lista de Pacientes</a></li>
                                <li class="lista"><a href=""><i class="mdi mdi-folder-multiple-image"></i> Reportes</a></li>
                                
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-calendar"></i><span class="hide-menu"> Citas </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li class="lista"><a href=""><i class="mdi mdi-calendar-text"></i> Mis citas</a></li>
                                <li class="lista"><a href=""><i class="mdi mdi-calendar-today"></i> Citas de hoy</a></li>
    
                                
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-food-apple"></i><span class="hide-menu"> Alimentos </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li class="lista"><a href=""><i class="mdi mdi-plus-circle"></i> Nuevo Alimento</a></li>
                                <li class="lista"><a href=""><i class="mdi mdi-file-document-box"></i> Lista de Alimentos</a></li>
    
                                
                            </ul>
                        </li>
                        <li> <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-food-variant"></i><span class="hide-menu"> Planes Alimenticios </span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li class="lista"><a href=""><i class="mdi mdi-plus-circle"></i> Nuevo Plan</a></li>
                                <li class="lista"><a href=""><i class="mdi mdi-file-document-box"></i> Lista de Planes</a></li>
    
                                
                            </ul>
                        </li>
                        
                     
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>