  <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                <div  class="row page-titles">
                    <div styles="background-color:white;" class="col-md-5 align-self-center">
                        <h3 style="color: rgb(146, 103, 23);">NutriLife</h3>
                    </div>
                    
               
                </div>
                <!-- ============================================================== -->
                <!-- End Bread crumb and right sidebar toggle -->